*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
}

/* .box{
    width: 40%;
    height: 100px;
    background-color: #fff;
    text-align: center;
    margin: 20px 0 20px 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    line-height: 100px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    transition: 400ms;
}

.red{
    border-left: 3px solid crimson;
}

.blue{
    border-left: 3px solid blue;
}

.green{
    border-left: 3px solid green;
} */


/* .nav{
    padding: .1px;
    width: 100%;
    height: 60px;
    background-color: #7209b7;
    
}

.logo{
    display: inline-block;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    font-size: 2rem;
    line-height: 60px;

}

.menu{
    display: inline-block;
    float: right;
    height: 100%;
    
}

.menu ul{
    list-style: none;
    /* margin-top: 8px; */
    /* margin-right: 40px;
}

.menu ul li{
    display: inline-block;
    height: 70px;
    line-height: 60px;
    margin-right: 20px;
    padding: 0 5px;
    color: white;
    font-size: 22px;
}

.menu ul li:hover{
    cursor: pointer;
    background-color: white;
    color: #7209b7;
}

@media (max-width: 800px) {

    .nav{
        width: 100vw;
        height: 100px;
    }
    .logo{
        text-align: center;
        width: 100%;
    }

    .menu{        
        width: 100%;
        background-color: #7209b7;
    }

    .menu ul{
        text-align: center;
        width: 90%;
        height: 100%;
        margin: 0 auto;
    }

    .menu ul li{
        padding: 0;
        margin: 0 20px 0 0;
        height: 100%;
    }

    
} */ 

.header{
    padding: .1px;
    width: 100%;
    height: 210px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
}

.bg-red{
    display: inline-block;
    background-color: #9a031e;
    width: 22%;
    height: 200px;
    float: left;
    margin: 10px 0 0 0 ;
}

.bg-text{
    
    width: 77%;
    height: 200px;
    background-color: #284b63;
    float: right;
    margin: 10px  0 0 ;
    padding: 10px;
}

.bg-text h1{
    margin-top: 10px;
    color: white;
    font-size: 70px;
    line-height: 80px;
}


.navbar{
    width: 100%;
    height: 70px;
    background-color: #fff;
}

.menu{
    text-align: center;
    background-color: #fff;
    line-height: 70px;
    width: 90%;
    margin: 0 auto;
}

.menu li{
    color: #9a031e;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}

@media (max-width: 900px) {
    .bg-text h1{
        font-size: 50px;
    }

    .bg-red{
        display: block;
        width: 100%;
    }

    .bg-text{
        text-align: center;
        display: block;
        width: 100%;
    }
}

@media (max-width: 700px){

    .menu{
        width: 100%;
        display: block;
        height: 500px;
    }

    .navbar{
        display: block;
        width: 100%;
        height: 700px;
        margin-top: 210px;
    }
    .menu li{
        display: block;
        width: 100%;
       
        /* padding: 5px; */
        text-align: center;
        background-color: #9a031e;
        color: white;
    }

    .menu li:hover{
        cursor: pointer;
        background-color: #fff;
        color: #9a031e;
    }

    
}

@media (max-width: 500px){
    .navbar{
        margin-top: 248px;
    }

    .bg-text{
        height: 280px;
    }

    .menu li:hover{
        cursor: pointer;
        background-color: #fff;
        color: #9a031e;
    }
}

