*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --color-title:#1d3557;
    --color-media: #ffb703;
}

.title{
    width: 80%;
    margin: 50px auto 0 ;
    text-align: center;
    font-size: 50px;
    color: var(--color-title);
    text-decoration: underline;
}


/* este media querie funciona cuando queremos que se vea asi cuando vamos a imprirmir */
/* @media print {
    .title{
        text-align: right;
    }
} */


@media screen and (max-width: 600px){
    .title{
        text-decoration: none;
        width: 100%;
        text-align: center;
        color: var(--color-media);
        background-color: black;
    }
}

@media screen and (orientation:landscape){
    .title{
        background-color: #ffb703;
        color: white;
        text-decoration: line-through;
        font-size: 20px;
        text-align: center;
    }
}

