@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --color-price: #26293A;
    --color-features: #797373;
    --color-boton: #fff;
    --font--roboto: 'Roboto', sans-serif;
}

body{
    font-family: var(--font--roboto);
}

.card{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #fff 50%, #2d3250 50%);
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.card__item{
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    height: 500px;
    max-width: 350px;
    width: 30%;
    border-radius: 8px;
    padding: 20px 10px;
    background-color: #fff;
}

.card__plan{
    text-align: center;
}

.card__price{
    text-align: center;
    font-size: 40px;
    margin: 20px 0;
}

.card__features{
    text-align: center;
    margin: 25px 0;
    color: #797373;
}

.card__features--margin{
    margin: 50px 0;
}

.card__cta{
    display: block;
    background-color: #26293A;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 50px  auto 0;
    text-decoration: none;
    font-size: 20px;
    border-radius: 2rem;
    color: #fff;
}

.card__item--active{
    background-color: steelblue;
    color: #fff;
}

.card__item--active .card__features{
    color: #fff;
}

.card__cta--active{
    background-color: #fff;
    color: var(--color-price);
}