body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 14px;
}


.container{
    width: 90%;
    height: 600px;
    margin: 20px auto;
    border: 5px solid crimson;
    position: relative;
}
.box{
    color: white;
    width: 200px;
    height: 100px;
    background-color: blueviolet;
    margin: 20px 20px;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
    border-radius: 5px;
   
}


.box:hover{
    background-color: rgba(0, 0, 0, 0.733);
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: 300ms;
    animation: ease-out;
}
.static{
    position: relative;
    left: -10px;
}

.fixed>a{
    
    text-decoration: none;
    color: white;
}

.fixed::first-letter{
    letter-spacing: 2px;
    font-size: 20px;
    color: seagreen;
}



.fixed{
    position: absolute;
    left: 200px;
    bottom: 460px;
}

.relative{
    position: relative;
    left: 410px;
    top: -120px;
}

.absolute{
    position: absolute;
    margin: 0;
    top: 20px;
    right: 20px;
}