@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,700;1,400&display=swap');


*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Raleway', sans-serif;
}

.hero{
    height: 100vh;
    position: relative;
    padding: 0.1px;
    background-image:linear-gradient(to right, hsla(209, 40%, 38%, 0.479), hsla(345, 57%, 34%, 0.534)), url(img/hero.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container-text{
    position: relative;
    top: 210px;
    text-align: center;
    color: white;
    line-height: 50px;
}

.hero__title{
    font-size: 4rem;
    margin-bottom: 10px;

}

.hero__copy{
    font-size: 1.7rem;
    font-weight: 600;
}

.hero__cta{
    display: inline-block;
    margin-top: 8px;  
    background-color: #fff;    
    color:darkblue;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 15px;
}

.hero__cta:hover{
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5) ;
    color: white;
    background-color: darkblue;
    transform: translateY(5px);
    transition: 500ms;
}

.hero__svg{
    position: absolute;
    bottom: 0;
    left: 0;
}